<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
    <a class="navbar-brand" href="#">BProxy</a>
    <div id="navbar">
        <!--        <nav class="nav navbar-nav float-xs-left">
            <a class="nav-item nav-link" href="#">Dashboard</a>
            <a class="nav-item nav-link" href="#">Settings</a>
            <a class="nav-item nav-link" href="#">Profile</a>
            <a class="nav-item nav-link" href="#">Help</a>
        </nav> -->
        <!-- <form class="float-xs-right">
            <input type="text" class="form-control" placeholder="Search...">
        </form> -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 sidebar">
        <proxy-info></proxy-info>
        </div>
    </div>
    <div class="col-sm-9 offset-sm-3 col-md-9 offset-md-3 main">
        
        <stepContainer></stepContainer>

        <footer class="container-fluid bg-4 text-center">
        <br /><p>© 2016 Jannis Müthing</p>
        </footer>
    </div>

</div>

<!-- <div id="container">
<div id="subcontainer">
    <div id="sidebar">
        <div class="logo">
            <img src="pictures/icon.png" alt="LOGO">
        </div>
    <proxy-info></proxy-info>
</div>
<div id="pagecontainer">
    <results></results>
</div>
</div> -->
<!-- <div id="footer">
(c) 2016 Jannis Müthing
</div>
</div> -->