<div class="header">
	<h1>Step 2</h1>
</div>
<div id="content">


<p>To route all trafic through this proxy please set up the following address as a local proxy:</p>
<p type="text" class="form-control">{{bproxyService.bproxy.address()}}</p>

<a href="https://support.apple.com/en-us/HT202693">AppleSupport on setting up a proxy</a>
<br />
<a href="http://lmgtfy.com/?q=configure+proxy+android">Setting up a proxy on android phones</a>
<br />
<p>Example configuration in iOS:</p>
<img src="/images/iphoneProxyConfig.jpg" class="rounded mx-auto d-block"/>

</div>
