<div class="header">
	<h1>Step 1</h1>
</div>
<div id="content">

<h4> Welcome to BProxy </h4>
<p>This will guide you through the process of analyzing the security of you apps. </p>
<p>To analyze encrypted traffic please install the CA Certificate by clicking the following link and following the on screen instructions. You can remove the certificate again after the analysis is done.</p>
<a href="{{bproxyService.bproxy.caCertDownloadLink}}"><p class="btn btn-link">Download CA Certificate</p></a>
</div>